*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-wrapper{
  height: 100vh;
  background-color: black;
}

/* HEADER */
.debug-aside{
  float: left;
  width: 200px;
  height: calc(100vh - 80px);
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
}

.upgrade{
  height: 100px;
  margin-left: 200px;
  background-color: blue;
}

.btn-upgrade{
  float: right;
  line-height: 100px;
}

.btn-upgrade a{
  color: white;
  text-decoration: none;
}

.main-list{
  margin-top: 30px;
  margin-bottom: 30px;
  list-style: none;
}

.main-list li a{
  text-decoration: none;
  color: white;
}

.playlist-list li a{
  text-decoration: none;
  color: white;
}


/* MAIN */
.section-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: green;
  text-align: center;
}

.section-list ul{
  list-style: none;
  color: white;
}

.section-list li{
  display: inline-block;
  margin-right: 40px;
}

.container-flex{
  display: flex;
  flex-flow: row wrap;
  background-color: grey;
  margin-bottom: 30px;
}

.main-margin{
  margin-left: 200px;
  color: white;
}

.flex-item{
  width: 150px;
  height: 150px;
  background-color: blue;
  padding: 15px;
}

.container-flex ul li{
  display: inline-block;
  list-style: none;
}

.circle{
  border-radius: 90px;
}

/* FOOTER */
.footer-bar{
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: green;
  position: fixed;
  bottom: 0;
}
