*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-wrapper{
  height: 100vh;
}

/* HEADER */
header{
  background-color: #000;
}

.fa-spotify{
  color: #fff;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 25px;
}

.hidden{
  display: none;
}

.logo {
  /* background-color: blue; */
}
.main-nav {
  /* background-color: orange; */
}

.main-nav ul li{
  /* color: #fff; */
  font-size: 11px;
}

.main-nav ul li:first-child{
  color: #fff;
}

.main-nav img{
  height: 20px;
  margin-bottom: 5px;
  padding-left: 10px;
  vertical-align: text-top;
}

.main-nav ul li:first-child img{
  border-left: 2px solid #fff;
}
aside {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  width: 200px;
  color: #6b6b6b;
  background-color: #000;
}

.logo-size{
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.secondary-nav {
  height: 100%;
  overflow: hidden;
  /* background-color: lightblue; */
}

.playlist-title {
  color: #fff;
  font-size: 11px;
  margin-top: 20px;
  padding-left: 10px;
}

.playlist-title h3{
  margin-bottom: 10px;
}

.playlist-title a{
  margin-left: 5px;
  text-decoration: none;
  color: #a3a3a3;
}

.fa-plus-square{
  color: #a3a3a3;
  font-size: 30px;
  vertical-align: middle;
}

.playlist-list {
  padding-left: 10px;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.aside-bottom {
  height: auto;
  flex-shrink: 0;
  margin-top: auto;
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: grey; */
}

.aside-bottom img{
  height: 15px;
  vertical-align: middle;
}

.circle img{
  height: 20px;
}

.aside-bottom h3{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin-left: 5px;
}

.aside-bottom hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

.aside-bottom a{
  color:inherit;
  font-size: 11px;
  text-decoration: none;
  margin-bottom: 5px;
}

.circle{
  float: left;
  border-radius: 90px;
  background-color: #808080;
  overflow: hidden;
  width: 17px;
  height: 20px;
  margin-bottom: 5px;
}

.circle img{
  height: 20px;
}

.inner-wrapper{
  display: flex;
  flex-direction: column;
}

.upgrade{
  height: 100px;
  background-color: #080b12;
}

.btn-upgrade{
  float: right;
  line-height: 95px;
  margin-right: 3px;
}

.btn-upgrade a{
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 7px 30px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 14px;
}

.main-list{
  margin-top: 30px;
  margin-bottom: 30px;
  list-style: none;
}

.main-list li a{
  text-decoration: none;
  /* color: white; */
}


.playlist-list li a{
  text-decoration: none;
  color: inherit;
  margin-top: 10px;
}

.playlist-list li{
  margin-top: 15px;
  font-size: 11px;
  list-style: none;
}

.element{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.aside-footer{
  width: 100%;
  background-color: pink;
  text-align: center;
}


/* MAIN */
.section-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: green; */
  text-align: center;
}

.section-list ul{
  list-style: none;
  color: white;
}

.section-list li{
  padding: 5px 0;
  display: inline-block;
  margin-right: 40px;
}

.section-list li a{
  text-decoration: none;
  color: #797c81;
}

h2{
  margin-bottom: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
}

h5{
  font-size: 12px;
}

h6{
  margin-top: 10px;
}

p{
  margin-left: 10px;
  margin-bottom: 10px;
  color: #77797e;
  font-size: 12px;
}

.selected{
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color: #adff2f;
  margin-top: 3px;
  margin-left: calc(50% - 20px);
}

.container-flex{
  display: flex;
  flex-flow: row wrap;
  /* background-color: grey; */
  margin-bottom: 30px;
}

.container-flex ul{
  text-align: center;
}

.flex-title{
  margin-top: 10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.container-flex h5{
  margin-left: 10px;
  color: #fff;
}

.container-flex h6{
  margin-left: 10px;
  color: #686b70;
}

.main-margin{
  margin-left: 200px;
  background-color: #141922;
}

.flex-item{
  position: relative;
  width: 150px;
  height: 150px;
  background-color: purple;
  padding: 15px;
  margin: 5px;
  margin-left: 10px;
}

.flex-item img{
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.fa-play-circle{
  font-size: 40px;
  margin-top: calc(50% - 20px);
  color: #fff;
}

.flex-item:hover .overlay{
  display: block;
}

.container-flex ul li{
  display: inline-block;
  list-style: none;
}

.circle{
  border-radius: 90px;
}

.main-wrapper{
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

/* FOOTER */
.footer-bar{
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: green;
  position: fixed;
  bottom: 0;
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .secondary-nav , .logo , .aside-bottom{
    display: none;
  }

  .main-nav ul:first-child{
    display: none;
  }

  .hidden{
    display: block;
  }

  .hidden .circle{
    margin-top: 20px;
  }

  .aside-bottom  .hidden{
    display: block;
  }

  aside{
    width: 50px;
  }

  .main-margin{
    margin-left: 50px;
  }

}
